@import './modules/global';
@import './modules/normalize';
@import './modules/responsive';

.app-content {
  padding: 0 25%;
  width: 50%;
  height: 100vh;
  &.--medium {
    padding: 0 10%;
    width: 80%;
  }
  &.--flexible {
    height: auto;
  }
  @include respond-to(xs) {
    padding: 0 5%;
    width: 90%;
    height: auto;
    &.--medium {
      padding: 0 5%;
      width: 90%;
    }
  }
}

.app-section__title {
  font-size: 1.8rem;
  margin: 0.25em 0;
  font-weight: bold;
}

.app-copyright {
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
}
