@import '../../styles/modules/responsive';

.app-work {
  padding: 8em 0;
  @include respond-to(xs) {
    padding: 8em 1.5em;
  }
}

.app-work__desc {
  color: #acacac;
  line-height: 1.5;
}

.app-work__tech {
  margin: 4em 0;
}

.app-work__image {
  max-width: 100%;
  max-height: auto;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  &.--half {
    width: 50%;
    height: auto;
    box-shadow: none;
  }
}

.app-work__logo {
  width: 40px;
  height: auto;
  margin: 0 0 8em -10px;
}
